<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="2.5.0" targetFramework="net461" requireReinstallation="true" />
  <package id="CommonServiceLocator" version="2.0.4" targetFramework="net461" requireReinstallation="true" />
  <package id="EsapiEssentials" version="1.9.0" targetFramework="net461" />
  <package id="EsapiEssentials.PluginRunner" version="1.9.0" targetFramework="net461" />
  <package id="MSFT.ParallelExtensionsExtras" version="1.2.0" targetFramework="net461" />
  <package id="MvvmLightLibs" version="5.4.1.1" targetFramework="net461" />
  <package id="YamlDotNet" version="6.1.1" targetFramework="net461" />
</packages>